@import "../../styles/variables.scss";

.testimonial {
    background-color: $dark-purple;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    line-height: 1.25rem;
    height: min-content;

    &__header {
        display: flex;
        margin-bottom: 1.5rem;
    }

    &__image {
        border-radius: 9999px;
        height: 3rem;
        width: 3rem;
    }

    &__info {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        margin-bottom: 0.2rem;
        color: $white;
        font-weight: bold;
    }

    &__status {
        color: $pink;
    }

    &__quote {
        color: $white;
    }
}

.testimonial:first-child {
    @include for-desktop {
        margin-top: -2rem;
    }
}

.testimonial:nth-of-type(even) {
    margin: 1rem 0;

    @include for-desktop {
        margin: -1rem 0 0 0;
    }
}